@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kids Bank</h1>
</div>
<script>
    window.location.href = "../Account/Index"
</script>